{% extends 'layout.html.twig' %}


{% block header %}
    <div class="row justify-content-md-center">
        <h1> {{ utilisateur.getUsername() }} </h1>
    </div>
{% endblock%}

{% block main %}
    <div class="container  ">
        <div class="row justify-content-md-center">


            <div class="col-md-3">


            {% for image in utilisateur.images %}

                <img src="{{ asset('uploads/'~image.name) }}" alt="" width="200">

            {% endfor %}
            </div>

            <div class="col-md-9">

                <table class="table">


                    <tr>
                        <th>Prénom :</th>
                        <td>{{ utilisateur.getPrenom() }}</td>
                    </tr>
                    <tr>
                        <th>Nom :</th>
                        <td>{{ utilisateur.getNom() }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone :</th>
                        <td>{{ utilisateur.getTelephone() }}</td>
                    </tr>
                    <tr>
                        <th>Email :</th>
                        <td>{{ utilisateur.getEmail() }}</td>
                    </tr>
                    <tr>
                        <th>Ville de rattachement :</th>
                        <td>{{ utilisateur.getSite() }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}