<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ENI Ecole">
        <meta name="author" content="ENI Ecole">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        <!--Gestion des polices -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,900;1,200;1,400;1,900&display=swap" rel="stylesheet">
        <!--Import de Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Import favicon -->
        <link rel="icon" href="{{ asset('images/abeille.png') }}">
      <!--Lien vers fichier de styles -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body >
        <nav class="navbar navbar-expand-lg navbar-dark  static-top" >
            <div class="Page container">

                <a href="{{ url('sortie_accueil') }}" class="navbar-brand" >
                    <img src="{{ asset('images/logo2.png') }}" alt="groupe_6_logo" class="Logo title_Logo" >
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarResponsive">
                    <ul class="navbar-nav ml-auto nav navbar-right">
                        {% block nav %}
                        <li class="nav-item ">
                            <a href="{{ url('sortie_accueil') }}" class="Link nav-link">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url('utilisateur_gestion', { 'id' : user.id}) }}" class="Link nav-link">Mon profil</a>
                        </li>
                       <li class="nav-item">
                            <a href="{{ path('logout') }}" class="Link nav-link">Déconnexion</a>
                        </li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
   <div class="Page container">
            <header > {% block header %} {% endblock%}  </header>


            <div class="Page_Contents">
                <main class="Page_Main">
                    {% for type, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash flash-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block main %}
                    {% endblock %}
                </main>
            </div>

        </div>
        <footer class="text-center text-white" >
            {% block footer %}
            <div class="container p-4">
                <section class="">
                    <div class="row">
                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                    data-ripple-color="light">

                                <a href="{{ url('sortie_create') }}">
                                    <img src="{{ asset('images/img1.jpg') }}" class="w-100"/>
                                    <div class="mask" ></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                    data-ripple-color="light">

                                <a href="{{ url('sortie_create') }}">
                                    <img src="{{ asset('images/img2.jpg') }}" class="w-100"/>
                                    <div class="mask" ></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                    data-ripple-color="light">

                                <a href="{{ url('sortie_create') }}">
                                    <img src="{{ asset('images/img3.jpg') }}" class="w-100"/>
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                    data-ripple-color="light">

                                <a href="{{ url('sortie_create') }}">
                                    <img src="{{ asset('images/img4.jpg') }}" class="w-100"/>
                                    <div class="mask" ></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                    data-ripple-color="light">

                                <a href="{{ url('sortie_create') }}">
                                    <img src="{{ asset('images/img5.jpg') }}" class="w-100"/>
                                    <div class="mask" ></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                            <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                    data-ripple-color="light">

                                <a href="{{ url('sortie_create') }}">
                                    <img src="{{ asset('images/img6.jpg') }}" class="w-100"/>
                                    <div class="mask" ></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
                <div class="text-center p-3" >
                    <p class="Copyrights">
                        &copy; Sortir date(26/03/2021)
                    </p>
                    <p>
                        By Rouat Typhaine, Le Mauff Jianying, Soyeux Timothee, Robert Pascal.   [<a href="https://github.com/typhaineRouat/projet-sortir-groupe-6.git">CC BY-SA 3.0</a>],
                    </p>
                </div>

                {% endblock %}
        </footer>
    </body>
</html>
